nextflow.enable.dsl = 2

process {
  executor = 'local'
  withName:.* {
    cpus = 4
    memory = '8 GB'
  }
}

docker {
  enabled = true
}

trace {
  enabled = true
  file = "logs/trace.txt"
}

timeline {
  enabled = true
  file = "logs/timeline.html"
}

report {
  enabled = true
  file = "logs/report.html"
}

params {
  organism = 'human'   // or rabbit
  outdir   = 'results'
}
